---
layout: default
title: GitLab Community Edition features
---

<div id="content">
  <div class="container">
    <div class="col-sm-12">
     <div class="alert alert-info">Check out the <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG">CHANGELOG</a> for the latest changes or <a href='/gitlab-ee/'>GitLab Enterprise Edition</a> which includes even more features</div>
    </div>

    <div class="col-md-6">
      <ul class="feature-list list-group">
        <li class="list-group-item">Unified and side-by-side diffs</li>
        <li class="list-group-item">Merge requests for code review</li>
        <li class="list-group-item">Line specific comments</li>
        <li class="list-group-item">Issues with attachments</li>
        <li class="list-group-item">Issue labels and assignments</li>
        <li class="list-group-item">Issue milestones / sprints</li>
        <li class="list-group-item">Link to an external issue tracker</li>
        <li class="list-group-item">Activity feed per project</li>
        <li class="list-group-item">User dashboard with filters</li>
        <li class="list-group-item">Comprehensive activity feed</li>
        <li class="list-group-item">A wiki which is stored in git</li>
        <li class="list-group-item">Code snippets</li>
        <li class="list-group-item">Branches and a network graph</li>
        <li class="list-group-item">Unique permission levels per user and project (guest, reporter, developer, master, owner)</li>
        <li class="list-group-item">Protected branches (only masters can push to protected branches)</li>
        <li class="list-group-item">Forking of repos</li>
        <li class="list-group-item">Merge requests between forks</li>
    </div>

    <div class="col-md-6">
        <li class="list-group-item">Groups consisting of multiple people with a shared namespace for projects</li>
        <li class="list-group-item">Multiple deploy keys are possible for the same project</li>
        <li class="list-group-item">Multiple projects are possible for the same deploy key</li>
        <li class="list-group-item">Global and per project notification settings</li>
        <li class="list-group-item">Http(s) and ssh git access</li>
        <li class="list-group-item">LDAP user authentication (also compatible with Active Directory)</li>
        <li class="list-group-item">Single Sign On (SSO) support via <a href="https://github.com/intridea/omniauth/wiki/List-of-Strategies#developer-strategies">Omniauth strategies</a></li>
        <li class="list-group-item">Web hooks</li>
        <li class="list-group-item">Convenient backups</li>
        <li class="list-group-item">Administrative interface</li>
        <li class="list-group-item">Web based editor</li>
        <li class="list-group-item">Code search</li>
        <li class="list-group-item">Runs on physical and virtual machines</li>
        <li class="list-group-item"><a href="https://www.gitlab.com/high-availability/">High availability / clustering / scale out</a></li>
        <li class="list-group-item">Access to the source code</li>
        <li class="list-group-item">Broadcast messages</li>
      </ul>
    </div>
  </div>
</div>
